

@media only screen and (max-width: 1023px) {

	

}

@media only screen and (max-width: 639px) {

	.img-h img {
		margin-bottom: 15%;
	}

	.title img {
		width: 60%;
	}

	#cent img {
		margin-top: 10%;
	}

	#header p {
		font-size: 54px;
	}

	.desc-vid {
		margin-bottom: 5%;
	}

	#pics p {
		margin-top: 5%;
	}

	#pics img {
		margin: auto;
		display: block;
		margin-bottom: 5%;
	}

	.live p {
		margin-bottom: 10%;
	}

}
