

@media only screen and (max-width: 1023px) {

	.section-title p {
		font-size: 26px;
	}

	.section-desc p {
		font-size: 18px;
	}

	.indent {
    	padding-left: 5%;
	}

	.home-wrapper img {
    	padding: 10%;
	}

	.home-wrapper {
		padding-bottom: 5%;
	}

	.nav-wrapper {
    	width: 70%;
    	margin-left: 10%;
    	margin-right: 5%;
	}

	#brands-bg img {
		width: 14%
	}

	#va img {
		width: 22%
	}

	.copyright p {
		margin-top: 10px;
	}

	#vr-bg {
    height: 400px;
}

}

@media only screen and (max-width: 639px) {

	body p {
		font-size: 18px;
	}

	.home-wrapper p,a {
		text-align: center;
		margin-top: 5%;
	}

	.button-home-wrapper {
		text-align: center;
	}

	.indent {
    	padding-top: 5%;
	}

	#three img {
		display: block;
	}

	#three {
    	background-image: none;
    	padding-bottom: 10%;
	}

	.title-5 p {
		text-align: center;
	}

	#title-1 {
		padding-top: 20px;
	}

	#top {
		margin-bottom: 32px;
	}

	.nav-wrapper {
    	width: 90%;
    	margin-left: 5%;
    	margin-right: 5%;
	}

	.section-title {
    	margin-top: 1%;
	}

	.home-wrapper {
    	height: 600px;
	}

	#brands-bg img {
		width: 28%;
		margin-bottom: 20px;
		margin-top: 10px;
	}

	#va img {
		width: 38%
	}

	#vr-bg {
    height: 500px;
	}

	.button-home-wrapper {
		margin-bottom: 16px;
	}

}
