
body {
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body p {
    font-size: 18px;
    color: rgb(77, 77, 77);
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

#current {
    background-color: #fafafb;
}

a {
    text-decoration: none;
    cursor: pointer;
}

.wrap-home {
    margin-bottom: 5%;
}

.intro {
    margin-top: 50px;
}

.azure {
    display: inline-block;
    margin-top: 32px;
}

.azure img {
    display: inline-block;
}

/*.home-text, .options {
    width: 50%;
    margin-left: 10%;
    margin-right: 5%;
}*/

.home-text p, .azure p {
    margin: 0;
    color: rgb(77, 77, 77);
}

.azure p {
    display: inline-block;
    float: left;
    margin-top: 8px;
}

.options {
    margin-top: 30px;
    margin-bottom: 80px;
}

.options p {
    font-size: 18px;
    margin: 0;
    padding-top: 0;
    padding-bottom: 0%;
}

#brands-bg {
/*    margin-left: 10%;*/
    margin-top: 48px;
    margin-bottom: 48px;
    width: 100%;
}

#brands-bg p {
    margin-bottom: 8px;
    font-size: 16px;
}

#brands-bg img {
    display: inline-block;
    width: 12%;
    opacity: 0.3;
    /*margin: 0 auto;*/
    padding-left: 10px;
    padding-right: 10px;
}

#va img {
    width: 25%;
}

.options a, #title-1 a {
    position: relative;
    text-decoration: none;
    color: inherit;
}

/*.options a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #333;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.options a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}*/

/* LEFT TO RIGHT */
.options a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #bbb;
  transition: 0.4s;
}

#title-1 a:after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  border-bottom: 1px solid #bbb;
  transition: 0.4s;
}

.options a:hover:after {
  width: 100%;
}

#title-1 a:hover:after {
  width: 100%;
}

.nav-wrapper {
    width: 96%;
    margin-left: 2%;
    margin-right: 2%;
}

.nav a {
    color: #8D8D8D;
    font-weight: 400;
}

#top {
    margin-bottom: 80px;
}

.nav a:hover {
    color: #333;
}

#title-1 {
    padding-top: 8px;
}

#title-1 span {
  background-color: rgba(28, 216, 210, 0.1);
}

#title p {
    font-size: 30px;
    font-weight: 400;
    color: #333;
    margin-top: 16px;
    margin-bottom: 0;
}

#audrey-bg {
    background: #F94C86;
    background: -webkit-linear-gradient(to left, #F97463, #F94C86);
    background: linear-gradient(to left, #F97463, #F94C86);
    position: relative;
}

#relay-bg {
    background: #1CD8D2;
    background: -webkit-linear-gradient(to left, #93EDC7, #1CD8D2);
    background: linear-gradient(to left, #93EDC7, #1CD8D2);
    position: relative;
}

#eeva-bg {
    background: #7F7087;
    background: -webkit-linear-gradient(to left, #7F7087, #063255);
    background: linear-gradient(to left, #7F7087, #063255);
    position: relative;
}

#claire-bg {
    background: #0077c5;
    position: relative;
}


.home-wrapper {
    height: 470px;
    position: relative;
}

.section-title {
    margin-top: 15%;
}

#vr-bg {
    background-color: gray;
    height: 375px;
}

.down {
    margin-top: 2%;
}

#hurry span {
    font-size: 20px;
}

#hurry a, #title-1 a {
    border-bottom: 1px solid #C0C0C0;
}

#hurry a:hover {
    border: none;
}

.title-1 a:hover {
  border: none;
}

.home-wrapper img {
    padding: 15%;
}

.section-title p {
    color: white;
    font-size: 32;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
    margin-bottom: 3%;
}

.section-desc p {
    color: white;
    font-size: 22;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
    margin-top: 0;
}

.button-home-wrapper {
    margin-top: 30px;
    width: 100%;
}

.button-home {
    border: solid white;
    border-radius: 3px;
    padding: 15px 40px;
    text-align: center;
    border-width: 2px;
}

.button-home-wrapper a {
    font-size: 18px;
    color: white;
}

.button-home-wrapper a:hover {
    background-color: white;
}

#audrey-btn a:hover {
    color: #F94C86;
}

#relay-btn a:hover {
    color: #1CD8D2;
}

#eeva-btn a:hover {
    color: #7F7087;
}

#claire-btn a:hover {
    color: #0077c5;
}

#tmo-btn a:hover {
    color: #000;
}

#tmo-bg {
    background-color: #e20074;
}

.phone {
    width: 202px;
    height: 380px;
}

.phone-overlay {
    background-image: url(https://dl.dropboxusercontent.com/s/tx7bgz8nnveuvs8/phone.png);
    background-size: 300px 494px;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 494px;
    margin: 45 auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.phone-overlay video {
    width: 202px;
}

[aos="fade-up"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade-up"].aos-animate {
  opacity: 1;
}

[aos="fade-down"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade-down"].aos-animate {
  opacity: 1;
}

#stats {
  text-align: center;
  width: 100%;
  display: block;
}

#stats a {
  color: white;
  font-size: 14px;
}

/*end sheet*/
}









