
body {
    display: block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body p {
    font-size: 18px;
    color: #333;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    padding: 1%;
}

a {
    text-decoration: none;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    font-weight: 300;
}

.nav a, .nav label {
  font-weight: 300;
}

.nav a:hover {
  color: #333;
}

.nav label:hover {
  color: #333;
}

label {
  line-height: 80px;
}

.title {
  display: block;
}

.skills p {
  font-weight: 400;
  font-size: 30px;
    margin-bottom: 0;
}

.title {
  padding-top: 10px;
}

.skill {
  width: 100%;
  display: block;
  overflow: auto;
}

#top, #top p {
  padding-top: 0;
  margin-top: 0;
}

#bottom {
  margin-bottom: 0px;
}

.title p {
  font-weight: 400;
  font-size: 24px;
  margin-bottom: 0;
  display: block;
  width: 100;
  margin-top: 0;
}

.title li {
  list-style: none;
  font-weight: 300;
  display: inline-block;
  float: left;
  margin-right: 5px;
  padding: 5px;
  border: solid rgba(0, 0, 0, .1);
  border-radius: 5px;
  border-width: 1px;
  margin-bottom: 10px;
  margin-left: 1%;
}

.wrapper-1 {
    background-image: url(../images/skyline.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0 0%;
    background-attachment: fixed;
}

.nav-links a, .nav-links label {
  color: #8D8D8D;
}

.button-home-wrapper {
    margin-top: 50px;
    width: 100%;
    margin-bottom: 50px;
}

.button-home {
    border: solid #333;
    border-radius: 3px;
    padding: 15px 40px;
    text-align: center;
    border-width: 2px;
}

.button-home-wrapper a {
    font-size: 18px;
    color: #333;
}

.button-home-wrapper a:hover {
    background-color: #333;
}

#btn a:hover {
    color: white;
}

.more-projects {
    height: 200px;
    width: 80%;
    margin-left: 80px;
    margin-top: 0px;
    margin-bottom: 30px;
}

.wrapper-more-projects {
    height: 200px;
    display: block;
    margin: auto;
    width: 100%;
}

#right-side {
    display: flex;
    justify-content: center;
    resize: vertical;
    height: 200px;
    text-align: left;
    width: 100%;
}

#right-side p {
  margin: 0;
}

#back-bar, #dir {
  width: 100%;
  text-align: center;
}

#back-bar a {
    color: blue;
}

#dir p {
    color: #333;
    font-size: 16px;
}

[aos="fade-up"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade-up"].aos-animate {
  opacity: 1;
}

[aos="fade-down"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade-down"].aos-animate {
  opacity: 1;
}

@media screen and (max-width: 1224px) { /* Specific to this particular image */
    .wrapper-1 {
    background-position: 60% 150px;
  }

  #btn {
    margin-top: 70px;
  }

  .more-projects {
    height: 200px;
    width: 90%;
    margin-left: 80px;
    margin-top: 0px;
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 800px) { /* Specific to this particular image */
    .wrapper-1 {
    background-position: 60% 120px;
  }

  .more-projects {
    height: 200px;
    width: 100%;
    margin-left: 00px;
    margin-top: 0px;
    margin-bottom: 30px;
}


/*end sheet*/
}









